<section class="py-5 text-center bg-nosotros">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-4 ">
                <img src="/astro01/img/logo2.jpg" alt="logo" class="img-fluid img-thumbnail">
            </div>
            <div class="col-lg-8  text-white ">
                <h1 class=" text-white fw-bold sombra"><span class="text-danger display-1 fw-bold">A</span><span class="text-warning display-1 fw-bold">R</span> Market<span class="text-warning fs-2 fw-bold">.com</span></h1>
                <p class="lead text-dark ">¡Bienvenido a AR Market.com, el lugar perfecto para aprender a ser un programador frontend! En nuestro curso, te sumergirás en el emocionante mundo del desarrollo web utilizando Astro como framework y la poderosa biblioteca Bootstrap.</p>
                <p>
                <p class="lead text-black ">Con Astro, podrás construir sitios web estáticos de manera eficiente y optimizada. Aprenderás a utilizar su lenguaje de plantillas y aprovechar su integración con otras bibliotecas JavaScript, como React, Vue y Svelte, para crear sitios web modernos y atractivos.</p>
                </p>
            </div>
        </div>
    </div>
  </section>
  <style>
    .bg-nosotros{
        background-color: #ecf0f1;
    }
    .sombra{
        text-shadow: 2px 2px 4px #202020;
    }
  </style>