<section class="p-5">
    <div class="container">
        <div class="row">
            <h3 class="">¿Por qué debes aprender Astro?</h3>
            <div class="col-lg-6">
                <p class="lead"><b>Astro es uno de los framework con mayor crecimiento,</b> utilizado en el desarrollo web que permite construir sitios estáticos de manera eficiente y optimizada. Es una herramienta que combina la simplicidad de las páginas estáticas con la potencia de los componentes reutilizables. Con Astro, puedes utilizar lenguajes de plantillas como HTML, CSS y JavaScript para crear sitios web modernos y atractivos.</p>
                <p class="lead"><b>Aprender Astro</b> te brinda la capacidad de construir sitios web estáticos eficientes, flexibles y optimizados para SEO, Además, te permite utilizar Bootstrap, Tailwind y aprovechar una comunidad activa de desarrolladores. Si estás interesado en el desarrollo frontend y en la creación de sitios web modernos, Astro es una herramienta que definitivamente debes considerar</p>
            </div>
            <div class="col-lg-6">
                <img src="/astro01/img/logo2.jpg" alt="" class="img-fluid img-thumbnail">
            </div>
        </div>

    </div>
</section>